body {
  background-color: black;
  color: white;
  text-align: center;
}

input {
  font-size: 1rem;
}

.card-container {
  margin-top: 20px; 
}

.battle-space {
  height:50vh;
  width: auto;
  border: 1px solid white;
  background-color: rgb(115, 102, 102); 
}

.opponent {
  border: 1px solid white;
  height: 50%;
  position: relative;
}

.opponent-party {
  border: 1px solid white;
  width: 60%;
  height: 40%;
  /* display: inline-block; */
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.opponent-current {
  border: 1px solid white; 
  height: 90%;
  width: 35%;
  position: relative; 
  margin-left: auto; 
  bottom: 0;
}
.opponent-current-card {
  position: absolute;
  border: 1px solid white;
}
.opponent-health {
  border: 3px solide white;
  padding-top: 10px;
}

.player {
  border: 1px solid white;
  height: 50%;
  position: relative;
}

.player-party {
  border: 1px solid white;
  height: 40%;
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
}

.player-current {
  border: 1px solid white; 
  height: 90%;
  width: 35%;
  position: relative; 
}

.player-current-card {
  position: absolute;
  bottom: 0;
  left: 40px;
}


.inventory {
  opacity: 1;
}

.all-cards {
  border: 1px solid white;
  border-radius: 18px;
  height: auto;
  display: flex;
  justify-content: space-around;
}



img {
  border-radius: 12px;
  max-height: 70px;
}

.current-playing,
.item {
  max-height: 180px;
}

@media screen and (max-width: 1000px) {
  .all-cards {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }

  img {
    height: 100px;
  }

  .current-playing,
  .item {
    height: 130px
  }
}