body {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
}

form {
  border-radius: 12px;
  opacity: 1;
}

input {
  font-size: 1rem;
  padding: 12px;
  border-radius: 12px; 
  color: gray;
  border: none;
  /* width: 20%; */
}

.current-playing {
  opacity: 1;
}

.add-pokemon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.start-button {
  padding: 18px;
  border-radius: 12px;
  color: gray;
  border: none;
  margin-top: 10px;
  font-size: 20px;
}

.start-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

input[type=button]:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-container {
  margin-top: 20px; 
}

.battle-space {
  height:50vh;
  width: auto;
  /* border: 1px solid white; */
  background-color: rgb(115, 102, 102); 
}

.opponent {
  /* border: 1px solid white; */
  height: 50%;
  position: relative;
}

.opponent-party {
  /* border: 1px solid white; */
  width: 60%;
  height: 40%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  opacity: 0; 
  transition: opacity 5s;
}

.opponent-current {
  /* border: 1px solid white;  */
  height: 90%;
  width: 35%;
  position: relative; 
  margin-left: auto; 
  bottom: 0;
}
.opponent-current-card {
  position: absolute;
  /* border: 1px solid white; */
}
.opponent-health {
  /* border: 3px solide white; */
  padding-top: 10px;
}

.player {
  /* border: 1px solid white; */
  height: 50%;
  position: relative;
}

.player-party {
  /* border: 1px solid white; */
  height: 40%;
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0; 
  display: flex;
  justify-content: space-around;
}

.player-current {
  /* border: 1px solid white;  */
  height: 90%;
  width: 35%;
  position: relative; 
}

.player-current-card {
  position: absolute;
  bottom: 0;
  left: 40px;
}


.inventory {
  opacity: 1;
  margin-bottom: 50px;
}

.all-cards {
  /* border: 1px solid white; */
  border-radius: 18px;
  height: auto;
  display: flex;
  justify-content: space-around;
}



img {
  border-radius: 12px;
  max-height: 90px;
}

.rival-current,
.player-current-card,
.current-playing,
.item {
  max-height: 180px;
}

@media screen and (max-width: 1000px) {
  .all-cards {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
  }

  img {
    height: 100px;
  }


  .rival-current,
  .player-current-card,
  .current-playing,
  .item {
    height: 130px
  }
}